<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>controller.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionDetailManagementController</servlet-name>
        <servlet-class>controller.manager.QuestionDetailManagementController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/sign-in</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PhoneNumberCheckServlet</servlet-name>
        <servlet-class>controller.PhoneNumberCheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PhoneNumberCheckServlet</servlet-name>
        <url-pattern>/checkPhoneNumber</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubjectDetailManagementController</servlet-name>
        <servlet-class>controller.manager.SubjectDetailManagementController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubjectDetailManagementController</servlet-name>
        <url-pattern>/manager/subject-detail-management</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>QuestionDetailManagementController</servlet-name>
        <url-pattern>/manager/question-detail-management</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
